/* @import "https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Josefin+Sans:wght@500&display=swap"; */
/* .heading
{
    font-family: 'Dongle', sans-serif !important;
}
.heading
{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    padding:50px;
    text-transform: uppercase;
} */
@media screen and (max-width: 633px) {
    p ,.heading 
    {
        font-size: small !important;
    } 
    *
    {
        font-size: small !important;
    }
    .nav-icon
    {
        font-size: large !important;
    }
    .logo
    {
        width: 5rem;
    }
   
}